<template>
  <ul :class="{shadow:showShadow}">
    <li v-for="(item, index) in chordTypeList" :key="index">
      <ChordDetail :akey="getKey(index)" :chord-type="item" v-on:chord-click="handleClick"/>
    </li>
  </ul>
</template>

<script>
import ChordDetail from './ChordDetail.vue';
/**
 * A List of Chord-Details to show chords of a scale
 */
export default {
  name: 'chord-detail-list',
  components: {
    ChordDetail,
  },
  props: {
    /**
     * Chordtypes (Array of strings) presenting the chords of a scale
     */
    chordTypeList: {
      type: Array,
      required: true,
    },
    /**
     * The key of the scale
     */
    akey: {
      type: Object,
      required: true,
    },
    /**
     * formular of the scale (to determine the chords)
     */
    scaleFormula: {
      type: Array,
      required: true,
    },
    /**
     * if set to true a shadow is drawn around the list
     */
    showShadow: {
      default: true,
    },
  },
  methods: {
    switchNotes(pos) {
      let clone = this.akey.notes.slice(0);
      const right = clone.slice(pos);
      clone = clone.splice(0, pos);
      right.push(...clone);
      return { name: right[0], notes: right };
    },
    getKey(index) {
      const pos = this.scaleFormula[index];
      return this.switchNotes(pos);
    },
    handleClick(chordname, fullname, chord) {
      const pos = this.akey.notes.indexOf(chordname.replace('m', ''));
      this.$emit('chordlist-click', {
        chordname,
        fullname,
        formula: chord.formula,
        notesDetail: this.switchNotes(pos),
      });
    },
  },
};
</script>

<style scoped>
  ul {
    list-style-type: none;
    border-collapse: collapse;
    width: 511px;
    background: #aaa;
    margin:0;
    padding: 0;
    position: relative;
  }
  ul li {
    display: inline-block;
    margin-left: 1px;
    background: #fff;
  }
  .shadow {
    box-shadow: 3px 3px 8px #555;
  }
</style>
