<template>
<div>
  <pretty-chord-name class="name"
    v-on:chord-name-click="handleClick"
    :chord-name="chordName"
    :chord-extension="chordExtension" />
    <ul>
      <li v-for="(item, index) in chord.formula" :key="index">
        <span class="interval">{{ chord.intervals[index] }}</span>
        <span class="note">{{ getNotes(item) }}</span>
      </li>
    </ul>
</div>
</template>

<script>
import PrettyChordName from './PrettyChordName.vue';
import chordTypes from '../lib/chords';
/**
 * Gives Details (formula and notes) about a chordtype in a specific key
 */
export default {
  name: 'chord-detail',
  components: {
    PrettyChordName,
  },
  props: {
    /**
     * The key of the chord
     */
    akey: {
      type: Object,
      required: true,
    },
    /**
     * The chordtype (e.g. major7, minor7)
     */
    chordType: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      chordTypes,
    };
  },
  computed: {
    chord() {
      return this.chordTypes[this.chordType];
    },
    chordName() {
      return `${this.akey.name}${this.chord.name}`;
    },
    chordExtension() {
      return this.chordTypes[this.chordType].extension;
    },
  },
  methods: {
    getNotes(pos) {
      return this.akey.notes[pos];
    },
    /**
     * Event is fired on click on the chordname.
     * Values for callback are chordname, fullname and chordtype
     * @event chord-click
     */
    handleClick(chordname, fullname) {
      this.$emit('chord-click', chordname, fullname, this.chord);
    },
  },
};
</script>

<style scoped>
  div {
    text-align: center;
    width: 70px;
    vertical-align: middle;
    border-collapse: collapse;
    color: #555;
    text-align: center;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
  }
  ul {
    list-style: none;
    font-family: Arial Unicode MS, Lucida Sans Unicode;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  ul li {
    font-size: 0.8em;
  }
  ul li span {
    display: inline-block;
    width: 35px;
    border-bottom: 1px solid #555;
  }
  .interval {
    color: #888;
    border-right: 1px solid #555;
    width: 34px;
  }
  .name {
    width: 70px;
    background: #555;
    color: #f1f1f1;
    cursor: pointer;
  }
</style>
