<template>
  <div class="cof-wrapper">
    <CoFRing
      :cofKeys="majorKeys"
      :ringname="config.majorRingname"
      :selected="pos"
      :keyStyle="config.majorKeyStyle"
      :ringStyle="config.majorRingStyle"
      :showShadow="config.showShadow"
      v-on:cof-ring-click="handleRingClick"/>
    <CoFRing
      :cofKeys="minorKeys"
      :ringname="config.minorRingname"
      :selected="pos"
      v-on:cof-ring-click="handleRingClick"
      :ringStyle="config.minorRingStyle"
      :keyStyle="config.minorKeyStyle"/>
    <CoFCircle
      :showShadow="config.showShadow"
      :text="circleText"/>
  </div>
</template>

<script>
import cofConfig from '../lib/cofConfig';
import CoFCircle from './CoFCircle.vue';
import CoFRing from './CoFRing.vue';
/**
 * Clickable Circle of Fifths with major and minor keys
 * This component is made up of tow cof-ring components
 * which by itself are made up on 2 x 12 cof-key components
 */
export default {
  name: 'cof',
  components: {
    CoFRing,
    CoFCircle,
  },
  props: {
    /**
   * mostly styling of the cof
   */
    config: {
      type: Object,
      default() {
        return cofConfig;
      },
    },
    /**
     * the 12 major keys as an Array of Key
     */
    majorKeys: {
      type: Array,
      required: true,
    },
    /**
     * the 12 minor keys as an Array of Key
     */
    minorKeys: {
      type: Array,
      required: true,
    },
    /**
     * the text to be shown in the middle of the circle
     */
    circleText: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      pos: 0,
    };
  },
  methods: {
    /**
     * Event with Key-Data is fired when a key is clicked
     * @event cof-position-change
     * @type Object
     */
    handleRingClick(activePos, activeName, ringname) {
      this.pos = activePos;
      this.$emit('cof-position-change', {
        position: this.pos,
        ringname,
        activeName,
      });
    },
  },
};
</script>

<style scoped>
  .cof-wrapper {
    position: relative;
    width: 20em;
    height: 20em;
    /* margin: 2em auto; */
  }
</style>
