<template>
  <div
    v-bind:class="{shadow: showShadow}"
    class="circle"
    v-bind:style="circleStyle">
      <div class="centertext"
        v-bind:style="textStyle">
        {{ text }}
      </div>
    </div>
</template>

<script>
export default {
  name: 'cof-circle',
  props: {
    showShadow: {
      default: false,
    },
    text: {
      type: String,
      default: '',
    },
    textStyle: {
      type: Object,
      default() {
        return {
          'font-size': '2.5em',
          'font-weight': 'bold',
          color: '#343434',
        };
      },
    },
    circleStyle: {
      type: Object,
      default() {
        return {
          width: '10em',
          height: '10em',
          background: '#fff',
          color: '#343434',
          top: '5em',
          left: '5em',
          border: '1px solid #555',
        };
      },
    },
  },
};
</script>

<style scoped>
.circle {
  position: absolute;
  border-radius: 50%;
  padding: '0';
}
.shadow {
  box-shadow: inset 3px 3px 8px #666;
}
.centertext {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
</style>
