<template>
  <li v-bind:style="liStyling" v-on:click="handleClick">
    <span v-bind:style="spanStyling">
      <strong v-bind:style="strongStyling" >
        {{ this.keyname }}
      </strong>
    </span>
  </li>
</template>

<script>
export default {
  name: 'cof-key',
  props: {
    keyPosition: {
      type: Number,
      required: true,
    },
    keyname: {
      type: String,
      required: true,
    },
    startAngle: {
      type: Number,
      default: -15,
    },
    selected: {
      type: Number,
    },
    styles: {
      type: Object,
      default() {
        return {
          fontSize: '1em',
          background: '#f9f9f9',
          paddingTop: '12px',
          border: '1px solid #555',
          color: '#343434',
          activeColor: '#f1f1f1',
          activeBackground: '#343434',
        };
      },
    },
  },
  computed: {
    liStyling() {
      return {
        border: this.styles.border,
        'transform-origin': '0% 100%',
        transform: `rotate(${this.startAngle + (this.keyPosition * 30)}deg) skewY(-60deg)`,
        position: 'absolute',
        top: '0',
        right: '0',
        width: '50%',
        height: '50%',
        overflow: 'hidden',
        cursor: 'pointer',
      };
    },
    spanStyling() {
      return {
        'background-color': (this.keyPosition === this.selected) ? this.styles.activeBackground : this.styles.background,
        transform: 'skewY(60deg) rotate(15deg)',
        'padding-top': this.styles.paddingTop,
        'text-align': 'center',
        position: 'absolute',
        width: '200%',
        height: '200%',
        left: '-100%',
        'z-index': '1',
      };
    },
    strongStyling() {
      return {
        display: 'inline-block',
        transform: `rotate(-${this.keyPosition * 30}deg)`,
        'font-size': this.styles.fontSize,
        color: (this.keyPosition === this.selected) ? this.styles.activeColor : this.styles.color,
      };
    },
  },
  methods: {
    handleClick() {
      this.$emit('cof-key-click', this.keyPosition, this.keyname);
    },
  },
};
</script>

<style scoped>

</style>
