<template>
    <ul class="ring" v-bind:style="ringStyle" v-bind:class="{shadow: showShadow}">
      <CoFKey v-for="(k, index) in cofKeys"
        :key="index"
        start="-15"
        :key-position="k.circleNbr"
        :keyname="k.name"
        v-on:cof-key-click="handleKeyClick"
        :selected="selected"
        :styles="keyStyle">
      </CoFKey>
    </ul>
</template>

<script>
import CoFKey from './CoFKey.vue';

export default {
  // eslint-disable-next-line
  components: { CoFKey },
  name: 'cof-ring',
  props: {
    ringname: String,
    showShadow: {
      default: false,
    },
    cofKeys: {
      type: Array,
      required: true,
    },
    selected: {
      type: Number,
      default: -1,
    },
    keyStyle: {
      type: Object,
    },
    ringStyle: {
      type: Object,
      default() {
        return {
          border: '1px solid #555',
          padding: '0',
          width: '20em',
          height: '20em',
          top: '0',
          left: '0',
        };
      },
    },
  },
  methods: {
    handleKeyClick(pos, name) {
      this.activePos = pos;
      this.activeName = name;
      this.$emit('cof-ring-click', this.activePos, this.activeName, this.ringname);
    },
  },
  data() {
    return {
      activeName: '',
      activePos: -1,
    };
  },
};
</script>

<style scoped>
.ring {
  position: absolute;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  margin: 0;
}
.shadow {
  box-shadow: 3px 3px 8px #666;
}
</style>
