<template>
  <div class="detail-wrapper">
    <slot><h2>Key Header</h2></slot>
    <div class="piano-wrapper">
      <ul class="piano">
        <li class="piano-key">
          <strong>{{ showKeys[0] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[1] }}</span>
          <strong>{{ showKeys[2] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[3] }}</span>
          <strong>{{ showKeys[4] }}</strong></li>
        <li class="piano-key">
          <strong>{{ showKeys[5] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[6] }}</span>
          <strong>{{ showKeys[7] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[8] }}</span>
          <strong>{{ showKeys[9] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[10] }}</span>
          <strong>{{ showKeys[11] }}</strong></li>
        <li class="piano-key">
          <strong>{{ showKeys[12] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[13] }}</span>
          <strong>{{ showKeys[14] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[15] }}</span>
          <strong>{{ showKeys[16] }}</strong></li>
        <li class="piano-key">
          <strong>{{ showKeys[17] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[18] }}</span>
          <strong>{{ showKeys[19] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[20] }}</span>
          <strong>{{ showKeys[21] }}</strong></li>
        <li class="piano-key">
          <span>{{ showKeys[22] }}</span>
          <strong>{{ showKeys[23] }}</strong></li>
      </ul>
    </div>
  </div>
</template>

<script>
/**
 * shows the notes of a scale on the keys
 */
export default {
  name: 'key-piano',
  props: {
    /**
     * the key of the scale
     */
    akey: {
      type: Object,
      required: true,
    },
    /**
     * formula of the scale
     */
    formula: {
      type: Array,
      required: true,
    },
  },
  computed: {
    showKeys() {
      const temp = Array(23).fill('');
      const scale = this.akey.getScaleByFormula(this.formula);
      for (let i = this.akey.offset; i < this.akey.offset + 12; i += 1) {
        const index = (i < 12) ? i : i - 12;
        if (scale.indexOf(this.akey.unorderdNotes[index]) >= 0) {
          temp[i] = this.akey.unorderdNotes[index];
        }
      }
      return temp;
    },
  },
};
</script>

<style scoped>
.detail-wrapper {
  position: relative;
  width: 466px;
}
.piano-wrapper {
  text-align: center;
  height: 112px;
  width: 466px;
  background :#444;
  border: 1px solid #444;
  border-radius: 2px 2px 4px 4px;
}
.piano {
  list-style: none;
  margin: 0;
  padding: 0 4px 4px 10px;
  font-size: 1em;
}
.piano li {
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  background: linear-gradient(-30deg,#f5f5f5,#fff);
  border: 1px solid #ccc;
  width: 30px;
  height: 100px;
  position: relative;
  box-shadow: inset 0 1px 0px #fff,inset 0 -1px 0px #fff,
    inset 1px 0px 0px #fff,
    inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  border-radius:0 0 2px 2px;
  text-align: center;
}
.piano li strong {
  display: inline-block;
  margin-top: 80px;
  font-size: 0.7em;
  color: #555;
}
.piano li span {
  position: absolute;
  padding-top: 50px;
  top: 0px;
  left: -12px;
  top: -1px;
  width: 16px;
  height: 20px;
  background: linear-gradient(-20deg,#333,#000,#333);
  border-width: 1px 2px 7px;
  border-style:solid;
  border-color: #666 #222 #111 #555;
  border-radius: 0 0 2px 2px;
  box-shadow: inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  color: #f1f1f1;
  font-size: 0.5em;
  font-weight: bold;
}
</style>
