<template>
<div>
  <div class="wrapper" v-show="!showFlat">
    <ul class="sharps">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li></li>
      <li>
        <span class="g-key">𝄞</span>
        <span v-show="akey.nbrOfSigns>0" class="fis">#</span>
        <span v-show="akey.nbrOfSigns>1" class="cis">#</span>
        <span v-show="akey.nbrOfSigns>2" class="gis">#</span>
        <span v-show="akey.nbrOfSigns>3" class="dis">#</span>
        <span v-show="akey.nbrOfSigns>4" class="ais">#</span>
        <span v-show="akey.nbrOfSigns>5" class="eis">#</span>
      </li>
    </ul>
  </div>
  <div class="wrapper"  v-show="showFlat">
    <ul class="flats">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li></li>
      <li>
        <span class="g-key">𝄞</span>
        <span v-show="akey.nbrOfSigns>0" class="bb">♭</span>
        <span v-show="akey.nbrOfSigns>1" class="eb">♭</span>
        <span v-show="akey.nbrOfSigns>2" class="ab">♭</span>
        <span v-show="akey.nbrOfSigns>3" class="db">♭</span>
        <span v-show="akey.nbrOfSigns>4" class="gb">♭</span>
      </li>
    </ul>
  </div>
</div>
</template>

<script>
/**
 * Creates a score-fragment with a G-Key and the signs of the key
*/
export default {
  name: 'key-signs',
  props: {
    /**
     * the Key (e.g. from Circle Of Fifths)
     * @type {Key}
     */
    akey: {
      type: Object,
      required: true,
    },
  },
  computed: {
    showFlat() {
      return this.akey.signType === '♭' || this.akey.signType === 'b';
    },
  },
};
</script>

<style scoped>
.g-key {
  font-family: Arial Unicode MS, Lucida Sans Unicode;
  font-size: 68px;
  display: block;
  top: 15px;
}
.wrapper {
  padding: 10px;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
}
.wrapper ul {
  list-style: none;
  margin: 0;
  padding:0; text-align: left;
  width: 62px;
}
.wrapper ul li {
  border-top: 1px solid #aaa;
  line-height: 6px;
  height: 6px;
}
.wrapper ul li span {
  display: block;
  position: absolute;
}
.fis {
  left: 33px;
  top: 8px;
}
.cis {
  left: 37px;
  top: 18px;
}
.gis {
  left: 44px;
  top: 6px;
}
.dis {
  left: 49px;
  top: 15px;
}
.ais {
  left: 53px;
  top: 25px;
}
.eis {
  left: 60px;
  top: 11px;
}
.bb {
  left: 31px;
  top: 20px;
}
.eb {
  left: 38px;
  top: 10px;
}
.ab {
  left: 43px;
  top: 24px;
}
.db {
  left: 50px;
  top: 14px;
}
.gb {
  left: 55px;
  top: 27px;
}
</style>
