<template>
  <p v-on:click="handleClick">
    <span class="chord-name">{{ prettyfy(this.chordName) }}</span>
    <sup>{{ prettyfy(this.chordExtension) }}</sup>
  </p>
</template>

<script>
/**
 * Pretty print a chordname
 */
export default {
  name: 'pretty-chord-name',
  props: {
    /**
     * The Key-Part (Triad) of the Chord
     */
    chordName: {
      type: String,
      required: true,
    },
    /**
     * The Chord Extensions (e.g. 7)
     */
    chordExtension: {
      type: String,
      default: '',
    },
  },
  methods: {
    prettyfy(part) {
      return part.replace('b', '♭').replace('#', '♯');
    },
    /**
     * Event has two parameters [chordName, fullName]
     * @event chord-name-click
     * @type String
     */
    handleClick() {
      this.$emit('chord-name-click', this.chordName, `${this.chordName}${this.chordExtension}`);
    },
  },
};
</script>

<style scoped>
p {
  font-family: Arial Unicode MS, Lucida Sans Unicode;
  color: #555;
  margin: 0;
  padding: 0;
}

</style>
