<template>
<div>
  <slot></slot>
  <table class="outer" :class="{shadow: showShadow}">
    <tr v-for="scale in scales" :key="scale.name"
    style="border: 1px solid #ccc;">
      <td class="scale-name">
        {{ getName(scale) }}
      </td>
      <td class="detail" style="padding: 0">
        <table class="scale-info"
          style="border: 0; width: 300px;">
          <tr>
            <td rowspan="3" class="key">
              <KeySigns :akey="getKey(scale)" style="margin-top: 4px"/>
            </td>
            <th v-for="r in romans" :key="r" class="roman">{{ r }}</th>
          </tr>
          <tr class="intervals">
            <td v-for="interval in scale.scaleintervals"
              :key="interval"
              class="interval">{{ interval }}</td>
          </tr>
          <tr class="notes">
            <td v-for="note in notes(scale)" :key="note"
            class="note">{{ note }}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
</template>

<script>
import KeySigns from './KeySigns.vue';
import cof from '../lib/circleOfFifths';

/**
 * shows a list of scales (e.g. churchmodes) based on a key
 */
export default {
  name: 'scales-info-list',
  components: {
    KeySigns,
  },
  props: {
    /**
     * List of scales with formula, intervals and name
     */
    scales: {
      type: Array,
      required: true,
    },
    /**
     * the base key the scales base on
     */
    akey: {
      type: Object,
      required: true,
    },
    /**
     * If false the scales stay in the key otherwise offset is used
     */
    useKeyOffset: {
      default: false,
    },
    /**
     * if true a shadow is shown around the component
     */
    showShadow: {
      default: true,
    },
  },
  methods: {
    notes(ascale) {
      const f = ascale.formula.map((item) => {
        const a = [];
        a.push((item + ascale.scalepos > 11)
          ? item + ascale.scalepos - 12
          : item + ascale.scalepos);
        return a;
      });
      return this.getKey(ascale).getScaleByFormula(f);
    },
    getKey(scale) {
      let scaleKey = this.akey;
      if (this.useKeyOffset) {
        const index = (this.akey.circleNbr + scale.offset > 11)
          ? this.akey.circleNbr + scale.offset - 12
          : this.akey.circleNbr + scale.offset;
        scaleKey = this.cof.keys[index];
      }
      return scaleKey;
    },
    getName(ascale) {
      const theNotes = this.notes(ascale);
      return `${theNotes[0]}-${ascale.name}`;
    },
  },
  data() {
    return {
      romans: ['Ⅰ', 'ⅠⅠ', 'ⅠⅠⅠ', 'ⅠⅤ', 'Ⅴ', 'ⅤⅠ', 'ⅤⅠⅠ'],
      cof,
    };
  },
};
</script>

<style scoped>
table {
  padding: 0;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
}
.note, .interval, .roman {
  width: 10%;
  border-left: 1px solid #ccc;
  font-size: 0.8em;
  text-align: center;
  color: #555;
}
.interval {
  color: #888;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.roman {
  background: #eee;
  padding: 0;
}
.key {
  width: 30%;
  border-left: 1px solid #ccc;
}
.scale-name {
  text-align: left;
  padding-left: 0.4em;
  padding-right: 0.3em;
  text-transform: capitalize;
  font-weight: bold;
  color: #555;
}
.shadow {
  box-shadow: 3px 3px 8px #666;
}
</style>
