<template v-if="showTop">
  <div class="wrapper" v-if="showTop">
    <table class="scale-info" v-bind:class="{ alone: standalone }">
      <tr>
        <td class="info-header" colspan="8">
          {{akey.name}}-{{ ascale.name }}
        </td>
      </tr>
      <tr>
        <td rowspan="3">
          <KeySigns :akey="akey" style="margin-top: 4px" />
        </td>
        <th v-for="r in romans" :key="r">{{r}}</th>
      </tr>
      <tr class="interval">
        <td v-for="interval in intervals" :key="interval">{{interval}}</td>
      </tr>
      <tr>
        <td v-for="note in notes" :key="note">{{ note }}</td>
      </tr>
    </table>
  </div>
  <div class="wrapper" v-else>
    <table class="scale-info" v-bind:class="{ alone: standalone }">
      <tr>
        <td class="info-header left" rowspan="3">
          {{akey.name}}-{{ ascale.name }}
        </td>
        <td rowspan="3">
          <KeySigns :akey="akey" style="margin-top: 4px" />
        </td>
        <th v-for="r in romans" :key="r">{{r}}</th>
      </tr>
      <tr class="interval">
        <td v-for="interval in intervals" :key="interval">{{interval}}</td>
      </tr>
      <tr>
        <td v-for="note in notes" :key="note">{{ note }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import KeySigns from './KeySigns.vue';
/**
 * shows the notes and formula of a sepcific key
 */
export default {
  name: 'scale-info',
  components: {
    KeySigns,
  },
  props: {
    /**
     * the key of the scale
     */
    akey: {
      type: Object,
      required: true,
    },
    /**
     * the scale (e.g. major-scale, dorian, etc.)
     */
    ascale: {
      type: Object,
      required: true,
    },
    /**
     * if set a shadow and a border-radius are visible
     */
    standalone: {
      default: false,
    },
    /**
     * set to true to show scale-name on top
     */
    showTop: {
      default: true,
    },
  },
  computed: {
    intervals() {
      return this.ascale.scaleintervals;
    },
    notes() {
      return this.akey.getScaleByFormula(this.ascale.formula);
    },
  },
  data() {
    return {
      romans: ['Ⅰ', 'ⅠⅠ', 'ⅠⅠⅠ', 'ⅠⅤ', 'Ⅴ', 'ⅤⅠ', 'ⅤⅠⅠ'],
    };
  },
};
</script>

<style scoped>
.wrapper {
  position: realtive;
}
.alone {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 3px 8px #666;
}
.left {
  text-align: left;
}
.info-header {
  background: #cfcfcf;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: capitalize;
  background: #888;
  color: #fafafa;
  white-space: nowrap;
}
.scale-info {
  border-collapse: collapse;
  position: relative;
  background: #fff;
}
.scale-info th, td {
  width: 2.2em;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #555;
  padding: 0.3em;
  font-size: 0.8em;
}
.scale-info th {
  font-weight: bold;
  background: #bbb;
}
.scale-info .interval {
  color: #6F6F6F;
}
</style>
