<template>
  <div id="app">
    <h1>🎹 HPV's Music-Vues</h1>
    <hr style="margin-top: 12px; margin-bottom: 12px;"/>
    <div style="float: left; width: 22em; height: 25em; position: relative;">
      <CoF
        :config="cofConfig"
        :majorKeys="majorKeys"
        :minorKeys="minorKeys"
        :circleText="text"
        v-on:cof-position-change="handlePositionChange"/>
        <p style="text-align: left;
          padding: 6px;
          padding-top: 30px;
          margin: 0;
          font-style: italic;
          color: #555;
          font-size: 0.8em">
          Select a key in the Circle Of Fifth then choose an options
          for churchmodes or select an chord from the chordlist.
        </p>
    </div>
      <!-- <p style="text-align: left">{{ majorScaleText }}</p> -->
    <div style="float: left; width: 30em;">
      <key-piano :akey="akey" :formula="ionian">
        <p style="text-align: left; padding: 0; margin: 0; color: #555;">{{ akey.name }}-Major</p>
      </key-piano>
      <p style="text-align:left; color#555;">
        <label for="tonic">Tonic: </label>
        <input type="radio" name="church-mode-way" value="yes" v-model="radioValue" id="tonic"/>
        <label for="key" style="margin-left: 10px;">Key: </label>
        <input type="radio" name="church-mode-way" value="no" v-model="radioValue" id="key"/>
      </p>
      <scales-info-list
        :akey="akey"
        :scales="churchModes"
        :use-key-offset="keyOffset"/>
    </div>
    <!-- <p style="font-family: Arial Unicode MS, Lucida Sans Unicode;">A♭m<sup>7♭5</sup></p> -->

    <div style="float: left; width: 520px; margin-left: 16px; position: relative;">
      <p style="text-align: left; padding: 0; margin: 0; color: #555;">
        Scale-Chords
      </p>
      <chord-detail-list
        :chord-type-list="majorScaleChords"
        :akey="akey"
        :scale-formula="ionian"
        v-on:chordlist-click="handleClick"/>
        <p style="text-align: left;">Selected: {{ selectedChord }}</p>
    </div>
  </div>
</template>

<script>
import cofdata from './lib/circleOfFifths';
import cofConfig from './lib/cofConfig';
import CoF from './components/CoF.vue';
import KeyPiano from './components/KeyPiano.vue';
import Keys from './lib/keys';
import scales, { churchModes } from './lib/scales';
import scalesInfoList from './components/scalesInfoList.vue';
import { majorScaleChords } from './lib/chords';
import ChordDetailList from './components/ChordDetailList.vue';

const majorKeys = cofdata.keys.filter(item => item.key === 'major');
const minorKeys = cofdata.keys.filter(item => item.key === 'minor');

export default {
  name: 'app',
  components: {
    CoF,
    KeyPiano,
    scalesInfoList,
    ChordDetailList,
  },
  data() {
    return {
      majorKeys,
      minorKeys,
      cofConfig,
      text: '♮',
      akey: new Keys(),
      ionian: scales.ionian,
      scaleInfoScale: churchModes[0],
      churchModes,
      radioValue: 'no',
      majorScaleChords,
      selectedChord: '',
    };
  },
  computed: {
    keyOffset() {
      return this.radioValue === 'yes';
    },
  },
  methods: {
    handlePositionChange(obj) {
      const activeKey = majorKeys[obj.position];
      this.akey = activeKey;
      this.text = (activeKey.nbrOfSigns === 0)
        ? activeKey.signType
        : activeKey.nbrOfSigns + activeKey.signType;
      this.selectedChord = '';
    },
    handleClick(chordinfo) {
      this.selectedChord = `${chordinfo.fullname}`;
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #555;
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
#app h1 {
  text-align: left;
}
</style>
